{% extends 'food/base.html' %}

{% block body %}
    <h1>Home</h1>
    
        <div class="row">
        {% for item in item_list %}
        <div class="col-6 mb-2">
            <img height="300px" style="max-width: 100%;" src="{{item.item_image}}" alt="">
        </div>
        <div class="col-4">  
            <h1>{{item.item_name}}</h1>
            <h3>{{item.item_desc}}</h3>
            <h3>£{{item.item_price}}</h3>
            <h6>{{ item.user_name }}</h6>  
        </div>
        <div class="col-2">
            <a class="btn btn-success" href="{% url 'food:detail' item.id %}">Details</a>
        </div>
        {% endfor %}
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}

            </ul>
          </nav>
   
{% endblock %}
