{% extends 'food/base.html' %}

{% block body %}
    <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.name }}
                    <br>
                    {{ field }}
                </div>
            {% endfor %}
            <!-- {{ form }} -->
            <button type="submit" class="btn btn-success btn-sm rounded-pill">Sign Up</button>
        </form>
{% endblock %}

    